<ul class='countries__list'>
    {{#each this}}
    <li class='countries__list--item'><img class='countries__list--image' src='{{flag}}' alt='{{name}}' width='20'
            height='18' />{{name}}</li>
    {{/each}}
</ul>